In [1]:
persons <- data.frame(Name = c("Ken", "Ashley", "Jennifer"),
  Gender = c("Male", "Female", "Female"),
  Age = c(24, 25, 23),
  Major = c("Finance", "Statistics", "Computer Science"))

In [2]:
persons

  Name     Gender Age Major
1 Ken      Male   24  Finance
2 Ashley   Female 25  Statistics
3 Jennifer Female 23  Computer Science

In [3]:
l1 <- list(x = c(1, 2, 3), y = c("a", "b", "c"))

In [4]:
l1

$x
[1] 1 2 3

$y
[1] "a" "b" "c"

In [6]:
#Creating dataframe from list
data.frame(l1)

  x y
1 1 a
2 2 b
3 3 c

In [8]:
#Create Dataframe from matrix
m1 <- matrix(c(1,2,3,4,5,6,7,8,9), nrow = 3, byrow = FALSE)

In [9]:
m1

     [,1] [,2] [,3]
[1,] 1    4    7
[2,] 2    5    8
[3,] 3    6    9

In [11]:
#Convert matrix to dataframe
data.frame(m1)

  X1 X2 X3
1 1  4  7
2 2  5  8
3 3  6  9

In [12]:
df1 <- data.frame(id = 1:5, x = c(0, 2, 1, -1, -3), y = c(0.5, 0.2, 0.1, 0.5, 0.9))

In [13]:
colnames(df1) <- c("id", "level", "score")
rownames(df1) <- letters[1:5]

In [14]:
df1

  id level score
a 1   0    0.5
b 2   2    0.2
c 3   1    0.1
d 4  -1    0.5
e 5  -3    0.9

### Subsettting a datarame

In [15]:
df1$id

[1] 1 2 3 4 5

In [16]:
df1["level"]

  level
a  0
b  2
c  1
d -1
e -3

In [17]:
df1[c("id","score")]

  id score
a 1  0.5
b 2  0.2
c 3  0.1
d 4  0.5
e 5  0.9

In [18]:
## Filtering data from data.frame

In [24]:
df1[df1$score > 0.4, c("id","level","score")]

  id level score
a 1   0    0.5
d 4  -1    0.5
e 5  -3    0.9

In [25]:
## Setting Values As A List

In [27]:
df1$score = c(2,3,4,45,5)

In [28]:
df1

  id level score
a 1   0     2
b 2   2     3
c 3   1     4
d 4  -1    45
e 5  -3     5

In [29]:
df1["score"] <- c(0.8, 0.5, 0.2, 0.4, 0.8)

In [30]:
df1[c("level", "score")] <- list(level = c(1, 2, 1, 0, 0), score = c(0.1, 0.2, 0.3, 0.4, 0.5))

## Factors
* data frame in R tries to use memory more efficiently
* As we can clearly find out that Name, Gender, and Major are not character vectors but factor objects. 
* It is reasonable that Gender is represented by a factor because it may only be either Female or Male, so using two integers to represent these two values is more efficient than using a character vector to store all the values regardless of the repetition.

In [32]:
str(persons)

'data.frame':	3 obs. of  4 variables:
 $ Name  : Factor w/ 3 levels "Ashley","Jennifer",..: 3 1 2
 $ Gender: Factor w/ 2 levels "Female","Male": 2 1 1
 $ Age   : num  24 25 23
 $ Major : Factor w/ 3 levels "Computer Science",..: 2 3 1

In [33]:
persons <- data.frame(Name = c("Ken", "Ashley", "Jennifer"),
  Gender = factor(c("Male", "Female", "Female")),
  Age = c(24, 25, 23),
  Major = c("Finance", "Statistics", "Computer Science"),
  stringsAsFactors = FALSE)

In [34]:
str(persons)

'data.frame':	3 obs. of  4 variables:
 $ Name  : chr  "Ken" "Ashley" "Jennifer"
 $ Gender: Factor w/ 2 levels "Female","Male": 2 1 1
 $ Age   : num  24 25 23
 $ Major : chr  "Finance" "Statistics" "Computer Science"

In [35]:
summary(persons)

     Name              Gender       Age          Major
 Length:3           Female:2   Min.   :23.0   Length:3
 Class :character   Male  :1   1st Qu.:23.5   Class :character
 Mode  :character              Median :24.0   Mode  :character
                               Mean   :24.0
                               3rd Qu.:24.5
                               Max.   :25.0

In [36]:
read.csv('house_rental.csv.txt')

    X   Sqft     Floor TotalFloor Bedroom Living.Room Bathroom Price
1    1  1177.698  2     7         2       2           2         62000
2    2  2134.800  5     7         4       2           2         78000
3    3  1138.560  5     7         2       2           1         58000
4    4  1458.780  2     7         3       2           2         45000
5    5   967.776 11    14         3       2           2         45000
6    6  1127.886 11    12         4       2           2        148000
7    7  1352.040  5     7         3       2           1         58000
8    8   757.854  5    14         1       0           1         48000
9    9  1152.792 10    12         3       2           2         45000
10  10  1423.200  4     5         4       2           2         65000
11  11   668.904  4    11         1       1           1         31000
12  12   711.600  4     7         2       1           1         29002
13  13  1352.040  9    19         4       2           2         39000
14  14   818.340  4    13         2       2           1         48000
15  15  2134.800 10    19         3       2           2         55000
16  16  2768.124  6    19         3       2           2        100000
17  17   711.600  5    13         2       2           1         48000
18  18   462.540  5    13         1       1           1         25000
19  19  2739.660  6    19         3       2           2         90000
20  20  1174.140  3     9         3       2           1         33000
21  21  2490.600 19    21         5       3           4        140000
22  22  2768.124  6    19         3       2           2        100000
23  23   747.180  7    15         2       2           1         55000
24  24  1668.702  4    12         3       2           2        105000
25  25  3664.740 19    19         3       2           3        200000
26  26  1779.000 10    12         4       2           2         98000
27  27  3664.740 19    19         3       2           3        200000
28  28  3059.880 21    24         4       2           3        145000
29  29   533.700  3     4         1       1           1         25000
30  30   853.920  6     7         2       1           1         24028
... ... ...      ...   ...        ...     ...         ...      ...
616 619 1857.276  2    14         3       2           2         45000
617 620 1102.980  6     7         3       2           2         65000
618 621  925.080  2     4         2       1           1         32000
619 622 2312.700 11    14         3       2           2         99999
620 623  925.080  4     9         3       2           2         45000
621 624  711.600  1     1         3       1           1         12000
622 625 4198.440 15    19         7       3           4        180000
623 626 3095.460  1     6         4       2           3        100000
624 627 2590.224  5    15         3       2           3        110000
625 628 1885.740  8    13         3       2           2        120000
626 629 1245.300  1    14         3       2           2         55000
627 630 1174.140 10    12         3       2           2         41000
628 631 1458.780  6     7         2       2           2         75000
629 632 1305.786  9    12         3       2           2         42000
630 633 1316.460 12    12         3       2           2         45000
631 634 1167.024  2    12         3       2           2         38000
632 635  996.240  3     5         3       1           1         28000
633 636 1099.422  2     7         4       2           2         57777
634 637 2042.292  6    18         2       2           2         82000
635 638  843.246  2    18         1       1           1         53000
636 639 1889.298 18    21         3       2           2         70000
637 640 1266.648  6     7         3       2           2         40000
638 641 1707.840  9     9         4       2           2         60000
639 642 1707.840  9    15         3       2           2         80000
640 643 2846.400  5    12         4       2           2        138888
641 644 1359.156  7    15         3       2           2         45000
642 645  377.148  4    10         1       1           1         24800
643 646  740.064 13    14         1       1           1         45000
644 647 1707.840  3    14         3       2           2         65000
645 648 1376.946  6     7         3       2           1         36000

In [38]:
write.csv(persons,"persons.csv")