In [2]:
st <- "Hello"

In [5]:
for ( i in 1:3 ) {
    print("Hello")
}

[1] "Hello"
[1] "Hello"
[1] "Hello"

In [7]:
d = paste("Hello","World")

In [8]:
d

[1] "Hello World"

In [10]:
x = cat("Hello","Hey")

Hello Hey

In [11]:
x

NULL

In [12]:
tolower("Hello")

[1] "hello"

In [13]:
toupper("Hey")

[1] "HEY"

In [14]:
nchar("Hello")

[1] 5

In [15]:
nchar(c("Hello","R","User"))

[1] 5 1 4

In [16]:
trimws(" hell ")

[1] "hell"

In [17]:
dates <- c("Jan 3", "Feb 10", "Nov 15")

In [20]:
substr(dates,5,nchar(dates))

[1] "3"  "10" "15"

In [21]:
strsplit("a,bb,ccc",split = ",")

[[1]]
[1] "a"   "bb"  "ccc"

In [25]:
stdnts <- strsplit(c("Tony, 26, Physics", "James, 25, Economics"),split = ",")

In [26]:
stdnts

[[1]]
[1] "Tony"     " 26"      " Physics"

[[2]]
[1] "James"      " 25"        " Economics"

In [27]:
pi

[1] 3.141593

In [31]:
sprintf("%.2f", pi)

[1] "3.14"

In [32]:
sprintf("%8.2f", pi)

[1] "    3.14"

In [34]:
read.csv('message.txt', header = FALSE)

Warning message in read.table(file = file, header = header, sep = sep, quote = quote, :
"incomplete final line found by readTableHeader on 'message.txt'"

  V1         V2       V3    V4    V5                    V6
1 2014-02-01 09:20:25 James Ken   Hey                    Ken!
2 2014-02-01 09:20:29 Ken   James Hey                    how are you?
3 2014-02-01 09:20:41 James Ken    I'm ok                what about you?
4 2014-02-01 09:21:03 Ken   James I'm feeling excited!
5 2014-02-01 09:21:26 James Ken   What happens?

In [40]:
fruits <- readLines("fruits.txt")

In [57]:
fruits

[1] "apple: 20 "                "orange: missing "
[3] "banana: 30 "               "pear: sent to Jerry "
[5] "watermelon: 2 "            "blueberry: 12 "
[7] "strawberry: sent to James"

In [58]:
matches <- grep("^\\w+:\\s\\d", fruits)

* ^: This symbol is used at the beginning of the line
* \w: This symbol represents a word character
* \s: This symbol is a space character
* \d: This symbol is a digit character
* $: This symbol is used at the end of the line

In [56]:
grep("\\d", c("abc", "a12", "123", "1"))

[1] 2 3 4

In [59]:
matches

[1] 1 3 5 6

In [60]:
grep("@",c("abc@123", "def@12", "gh"))

[1] 1 2