In [1]:
"hello"

[1] "hello"

In [2]:
str1 <- "Hello World"

In [3]:
str1

[1] "Hello World"

In [4]:
cat("Hello","World")

Hello World

In [5]:
paste(c("A","B"),c("C","D"))

[1] "A C" "B D"

In [6]:
toupper("Hello")

[1] "HELLO"

In [7]:
nchar("Helllo")

[1] 6

In [8]:
nchar(c("Hello","World"))

[1] 5 5

In [11]:
strsplit("Hello,World",split = "o")

[[1]]
[1] "Hell" ",W"   "rld"

### Formatting date/time

In [12]:
Sys.Date()

[1] "2017-07-01"

In [14]:
curr_time = Sys.time()

In [15]:
curr_time + 3

[1] "2017-07-01 10:15:45 IST"

In [16]:
curr_time

[1] "2017-07-01 10:15:42 IST"

In [20]:
read.csv("message.csv",header = FALSE)

Warning message in read.table(file = file, header = header, sep = sep, quote = quote, :
"incomplete final line found by readTableHeader on 'message.csv'"

  V1         V2       V3    V4    V5                    V6
1 2014-02-01 09:20:25 James Ken   Hey                    Ken!
2 2014-02-01 09:20:29 Ken   James Hey                    how are you?
3 2014-02-01 09:20:41 James Ken    I'm ok                what about you?
4 2014-02-01 09:21:03 Ken   James I'm feeling excited!
5 2014-02-01 09:21:26 James Ken   What happens?

In [37]:
fruits <- readLines("fruits.txt")

### Regualar Expression
##### + 1 or more characters
##### * 0 or more char
##### ^ Symbol is used at the beginning of line 
##### \w represents word character - alphabets, numeric or hyphen
##### \s space character
##### \d digit character
#####  '$' end of line

In [41]:
telephone <- c("123-4567","456-7992","34-678")

In [44]:
telephone[grep("^\\d{3}-\\d{4}",telephone)]

[1] "123-4567" "456-7992"

In [51]:
emails <- c("awa@gmail.com", "awi@.om")

In [53]:
emails[grep("^\\w*@\\w+.\\w*",emails)]

[1] "awa@gmail.com"

In [58]:
emails[grep("com$",emails)]

[1] "awa@gmail.com"

In [59]:
emails[grep("com$",emails)]

[1] "awa@gmail.com"